.left-nav{
  width: 72px;
  height: 100%;
  background:#f8f8f8;
  border-right: 1px solid #ececec;
  float:left;
}

.pane-notes{
  width:350px;
  height:100%;
  border-right:1px solid #ececec;
  background:#f8f8f8;
  float:left;
  display:flex;
  flex-direction:column;
}

.pane-header{
  width:100%;
  height:100px;
  background:white;
  border-bottom: 1px solid #ececec;
}

.reminders{
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  letter-spacing:1.5px;
  color: #878787;
  font-size:15px;
  padding:10px 0 10px 30px;
  border:2px solid #ececec;
  border-left:none;
  border-right:none;
  box-sizing:border-box;
  background:white;
}



.pane-content{
  height:100%;
  overflow-y:scroll;
  display:block;
}

.note{
  width:100%;
  height:120px;
  background:white;
  border-bottom:1px solid #ececec;
}

.content-main{}

.content-header{}


body{
  margin:0;
  padding: 0;
  height:100%;
  width:100%;
  position:absolute;
}

.icon-elephant{
  display:block;
  margin:auto;
  padding-top:12px;
}

.lower-nav{
  width:75px;
  position:relative;
}

.upper-nav{
}

img {
  display:block;
  margin:auto;
}

.right-pointer{
  display:inline;
  margin-right: 10px;
}
